<h2 style="color:#0E7693; font-size:22px; padding-top:12px;">Détails de votre réservation</h2>

<div align="left" class="article-content">
    <p> Votre réservation est enregistrée :</p>
    <ul>
        <li>Vol  : {{ reservation.flight }}</li>
        <li>Nombres de places réservées : {{ reservation.nbReservedSeats }}</li>
    </ul>
    <p>Merci de voyager avec Flyaround</p>
</div>