
<h2 style="color:#0E7693; font-size:22px; padding-top:12px;">Nouvelle réservation sur votre vol !</h2>

<div align="left" class="article-content">
    <p> {{ reservation.passenger }} vient de réserver {{ reservation.nbReservedSeats }} place(s) sur votre vol :</p>
    <p>{{ reservation.flight }}.</p>
    <p>Merci de voyager avec Flyaround</p>
</div>
